<footer>
  <div class="footer-link-section">
    <ul>
      <li>
        <a href="https://github.com/BRL-CAD/brlcad">Download</a>
      </li>
      <li>
        <a href="https://www.facebook.com/BRL-CAD-387112738872/">News</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/BRL-CAD">About</a>
      </li>
    </ul>
    <a class="footer-logo" href="/">
      <img
        alt="BRL-CAD"
        src="{{@root.uiRootPath}}/img/logo/brlcad.png"
        height="64"
        width="64"
      />
    </a>
    <ul>
      <li>
        <a href="https://brlcad.org/wiki/">Docs</a>
      </li>
      <li>
        <a href="https://github.com/BRL-CAD/brlcad/issues">Support</a>
      </li>
      <li>
        <a href="https://brlcad.org/gallery/">Gallery</a>
      </li>
    </ul>
  </div>
  <div class="footer-social">
    <a href="https://www.facebook.com/pages/BRL-CAD/387112738872">
    <img
        alt="Facebook"
        src="{{@root.uiRootPath}}/img/facebook.svg"
        height="18"
        width="18"
      />
    </a>
    <a href="https://twitter.com/brl_cad">
       <img
        alt="Twitter"
        src="{{@root.uiRootPath}}/img/twitter.svg"
        height="18"
        width="18"
      />
    </a>
    <a href="https://www.linkedin.com/in/brlcad">
       <img
        alt="LinkedIn"
        src="{{@root.uiRootPath}}/img/linkedin.svg"
        height="18"
        width="18"
      />
    </a>
    <a href="https://www.youtube.com/results?search_query=brl+-+cad">
      <img
        alt="Youtube"
        src="{{@root.uiRootPath}}/img/youtube.svg"
        height="18"
        width="18"
      />
    </a>
  </div>
  <a
    class="footer-practices"
    href="https://bestpractices.coreinfrastructure.org/projects/66"
  >
    <img
      alt="best practices"
      src="https://bestpractices.coreinfrastructure.org/projects/66/badge"
      height="20"
      width="184"
    />
  </a>
  <div class="footer-copyright">
    <h2>BRL-CAD © 2021</h2>
    <p>All trademarks referenced herein are the properties of their respective
      owners. This site is not sponsored, endorsed, or run by the U.S.
      Government.</p>
  </div>
</footer>